a:hover,
a:focus {
    text-decoration: none;
}

html,
body {
    height: 100vh;
}

.ws-container {
    height: 100%;
    display: grid;
    grid-template: auto minmax(0, 1fr) / 1fr;
}

.title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.map-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr auto;
    overflow: auto;
}

.map {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
}

.info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 0;
    overflow: auto;
    transition: width 500ms ease-out 500ms;
}
.info_active {
    width: 50vw;
    padding: 0 1rem;
    transition: width 500ms ease-in;
}

.map svg {
    width: 100%;
    height: auto;
}

.interacted {
    fill: #09a800;
    stroke: #ffffff;
    cursor: pointer;
}

.abrau {
    fill: url(#imageAbrau);
}
.guam {
    fill: url(#imageGuam);
}
.agur {
    fill: url(#imageAgur);
}
.lotus {
    fill: url(#imageLotus);
}
.kosa {
    fill: url(#imageKosa);
}
.voron {
    fill: url(#imageVoron);
}
.induck {
    fill: url(#imageInduck);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease-in 500ms;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    transition: opacity .5s ease-out;
}
